* {
	margin: 0; padding: 0;
}


body {
	font: 14px/1.5 georgia;
	color: #444;
}

#contactsList {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 200px;
	height: 500px;
	border: 1px solid #ccc;
}

#contactsList {
	list-style-type: none;
}

#contactsList li {
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

#contactsList .add {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	padding: 5px 10px;
	background-color:#ccc; 
}

#contactDetails {
	position: absolute;
	left: 240px;
	top: 20px;
	width: 400px;
	height: 480px;
	border: 1px solid #ccc;
	padding: 10px;
}

#contactDetails label,
#contactDetails input,
#contactDetails textarea {
	display: block;
	margin-bottom: 10px;
}
